* {
  font-family: fantasy;
  margin: 0%;
}

@media screen and (min-width: 768px) {
  header {
    display: -ms-grid;
    display: grid;
    background: lightblue;
    margin-bottom: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header h1 {
    margin-left: 3em;
  }
  header p {
    font-family: fantasy;
    font-weight: 900;
  }
  header li {
    display: inline-block;
    margin: 1em;
    font-weight: 900;
    width: 5em;
    border: 3px solid black;
    text-align: center;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr, 1fr, 1fr;
        grid-template-columns: 1fr, 1fr, 1fr;
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    margin: 0 auto;
        grid-template-areas: "menu about footer" "menu about footer" "menu about footer" "menu about footer" "menu about footer";
  }
  main #menu {
    background: -webkit-gradient(linear, left top, left bottom, from(coral), to(white));
    background: linear-gradient(coral, white);
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    -ms-grid-column: 1;
    grid-area: menu;
  }
  main #menu video {
    width: 90%;
    height: auto;
    clear: right;
    margin: 0%;
  }
  main #about {
    background: -webkit-gradient(linear, left top, left bottom, from(lightgreen), to(white));
    background: linear-gradient(lightgreen, white);
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    -ms-grid-column: 2;
    grid-area: about;
    display: -ms-grid;
    display: grid;
  }
  main #about article {
    place-self: center;
    width: 20em;
  }
  main #footer {
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(blue));
    background: linear-gradient(white, blue);
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    -ms-grid-column: 3;
    grid-area: footer;
  }
  main #footer embed {
    border: 1px solid black;
    height: 80%;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  header {
    display: -ms-grid;
    display: grid;
    background: lightblue;
    margin-bottom: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header h1 {
    margin-left: 3em;
  }
  header p {
    font-family: fantasy;
    font-weight: 900;
  }
  header li {
    display: inline-block;
    margin: 1em;
    font-weight: 900;
    width: 5em;
    border: 2px solid black;
    text-align: center;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr, 1fr, 1fr;
        grid-template-columns: 1fr, 1fr, 1fr;
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    margin: 0 auto;
        grid-template-areas: "menu about" "menu about" "menu about" "footer footer" "footer footer" "footer footer" "footer footer";
  }
  main #menu {
    background: -webkit-gradient(linear, left top, left bottom, from(coral), to(white));
    background: linear-gradient(coral, white);
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    grid-area: menu;
  }
  main #menu video {
    width: 90%;
    height: auto;
    clear: right;
    margin: 0%;
  }
  main #about {
    background: -webkit-gradient(linear, left top, left bottom, from(lightgreen), to(white));
    background: linear-gradient(lightgreen, white);
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: about;
  }
  main #about article {
    place-self: center;
    width: 20em;
  }
  main #footer {
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(blue));
    background: linear-gradient(white, blue);
    -ms-grid-row: 4;
    -ms-grid-row-span: 4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: footer;
  }
  main #footer embed {
    border: 1px solid black;
    position: absolute;
    height: 90%;
    width: 90%;
    margin-left: 2em;
  }
}

@media screen and (max-width: 425px) {
  header {
    display: -ms-grid;
    display: grid;
    background: lightblue;
    margin-bottom: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header h1 {
    margin-left: 2em;
  }
  header p {
    font-family: fantasy;
    font-weight: 900;
  }
  header li {
    text-align: center;
    width: 10em;
    display: block;
    font-weight: 900;
    border: 2px solid black;
    margin-left: 4em;
  }
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr, 1fr, 1fr;
        grid-template-columns: 1fr, 1fr, 1fr;
    grid-auto-rows: minmax(100px, auto);
    gap: 10px;
    margin: 0 auto;
        grid-template-areas: "menu menu menu" "menu menu menu" "about about about" "about about about" "footer footer footer" "footer footer footer" "footer footer footer";
  }
  main #menu {
    background: -webkit-gradient(linear, left top, left bottom, from(coral), to(white));
    background: linear-gradient(coral, white);
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: menu;
  }
  main #menu video {
    width: 90%;
    height: auto;
    clear: right;
    margin: 0%;
  }
  main #about {
    background: -webkit-gradient(linear, left top, left bottom, from(lightgreen), to(white));
    background: linear-gradient(lightgreen, white);
    -ms-grid-row: 3;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: about;
  }
  main #footer {
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(blue));
    background: linear-gradient(white, blue);
    -ms-grid-row: 5;
    -ms-grid-row-span: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: footer;
  }
  main #footer embed {
    border: 1px solid black;
    height: 60%;
    width: 80%;
    margin-left: 2em;
  }
}
/*# sourceMappingURL=style.css.map */